@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-jet: 0 0% 4%;
    --color-umbra: 221 12% 14%;
    --color-ink: 213 11% 16%;
    --color-ash: 216 5% 19;
    --color-iron: 216 4% 20%;
    --color-steel: 216 4% 22%;
    --color-tin: 216 4% 26%;
    --color-fog: 216 4% 35%;
    --color-silver: 213 6% 74%;
    --color-pewter: 213 0% 100%;
    --color-dove: 222 0% 86%;
    --color-nimbus: 228 21.74% 95.49%;
    --color-ivory: 40 18% 97%;
    --color-white: 0 0% 100%;
    --color-midnight: 214 58.3% 9.4%;
    --color-evenfall: 214 16.1% 28%;
    --color-breeze: 214 48.9% 73.9%;
    --color-cobalt: 214.6 60 45%;
    --color-gale: 214.6 79.1 62.5%;
    --color-dawn: 37 100% 76%;
    --color-sunset: 22 100% 51.6%;
    --color-rust: 22 93.8% 36.72%;
    --color-dusk: 263 70% 50.4%;
    --color-twilight: 255 92% 76%;
    --input-background: #fff;
    --input-background-hover: #fff;
    --input-button-background: #fff;
    --input-button-background-hover: #f2f2f2;
    --input-button-background-selected: #f0f0f0;
    --input-button-border: #e3e3e3;
    --input-button-border-hover: #e3e3e3;
    --incognito-input-background: #f2f0f4;
    --incognito-input-background-hover: #ede9f3;
    --incognito-input-button-background: #f2f0f4;
    --incognito-input-button-background-hover: #ede9f3;
    --incognito-input-button-background-selected: #dcd8e2;
    --incognito-input-button-border: #c7c3cc;
    --incognito-input-button-border-hover: #c7c3cc;
    --background: var(--color-ivory);
    --background-secondary: #fdfdfc;
    --foreground: var(--color-white);
    --highlight: var(--color-breeze);
    --gradient: #e6e6e6;
    --gradient-bg: #e6e6e6;
    --overlay: var(--color-jet);
    --important: #fcfcfc;
    --important-hover: #fafafa;
    --button-primary: var(--color-jet);
    --button-primary-hover: var(--color-jet) / 70%;
    --button-secondary: var(--color-ivory);
    --button-secondary-hover: var(--color-dove) / 80%;
    --button-secondary-selected: var(--color-dove) / 70%;
    --button-ghost-hover: var(--color-dove) / 30%;
    --button-text-hover: var(--color-dove) / 8%;
    --button-outline-border: var(--color-dove) / 50%;
    --input: var(--color-white) / 100%;
    --input-glow: var(--color-dove) / 20%;
    --input-border: var(--color-dove) / 38%;
    --input-hover: var(--color-white);
    --input-border-focus: var(--color-fog) / 50%;
    --toggle-border: var(--color-jet) / 10%;
    --toggle-hover: var(--color-ivory);
    --toggle-selected: var(--color-jet) / 8%;
    --popover: var(--color-white);
    --popover-border: var(--color-white);
    --popover-hover: var(--color-ivory) / 20%;
    --card: var(--color-white) / 80%;
    --card-focus: var(--color-dove);
    --card-border: var(--color-nimbus);
    --card-border-focus: var(--color-dove);
    --card-hover: var(--color-steel) / 4%;
    --chip: var(--color-dove) / 20%;
    --link: var(--color-cobalt);
    --link-hover: var(--color-gale);
    --primary: var(--color-jet);
    --secondary: var(--color-fog);
    --incognito: var(--color-dusk);
    --input-incognito: var(--color-dusk / 4%);
    --input-glow-incognito: var(--color-dusk / 15%);
    --input-border-incognito: var(--color-dusk / 40%);
    --input-hover-incognito: var(--color-dusk / 7%);
    --input-border-focus-incognito: var(--color-dusk / 75%);
    --border-incognito: var(--color-dusk);
    --ring-incognito: var(--color-dusk);
    --ring: var(--color-fog);
    --card-foreground: 0 0% 3.9%;
    --popover-foreground: 0 0% 3.9%;
    --primary-foreground: 0 0% 98%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --input-background: #313234;
    --input-background-hover: #36383a;
    --input-button-background: #313234;
    --input-button-background-hover: #424446;
    --input-button-background-selected: #626365;
    --input-button-border: #444446;
    --input-button-border-hover: #707172;
    --incognito-input-background: #222329;
    --incognito-input-background-hover: #26252e;
    --incognito-input-button-background: #222329;
    --incognito-input-button-background-hover: #33333b;
    --incognito-input-button-background-selected: #5a5a61;
    --incognito-input-button-border: #36373c;
    --incognito-input-button-border-hover: #66666a;
    --background: #1d1e20;
    --background-secondary: #18191b;
    --foreground: var(--color-dove / 8%);
    --highlight: var(--color-pewter / 30%);
    --gradient: var(--color-pewter / 10%);
    --gradient-bg: #222325;
    --overlay: var(--color-jet / 50%);
    --important: var(--color-ash);
    --important-hover: var(--color-steel);
    --button-primary: var(--color-ivory / 90%);
    --button-primary-hover: var(--color-ivory);
    --button-secondary: var(--color-dove / 12%);
    --button-secondary-hover: var(--color-dove / 20%);
    --button-secondary-selected: var(--color-dove / 30%);
    --button-ghost-hover: var(--color-dove / 8%);
    --button-text-hover: var(--color-dove / 8%);
    --button-outline-border: var(--color-dove / 8%);
    --input: var(--color-iron / 100%);
    --input-glow: var(--color-pewter / 20%);
    --input-border: var(--color-dove / 4%);
    --input-hover: var(--color-iron / 100%);
    --input-border-focus: var(--color-white / 16%);
    --input-foreground-hover: var(--color-tin / 100%);
    --toggle-border: var(--color-white / 9%);
    --toggle-hover: var(--color-white / 6%);
    --toggle-selected: var(--color-white / 24%);
    --toggle-disabled: var(--color-white / 8%);
    --popover: var(--color-steel / 100%);
    --popover-border: var(--color-dove / 4%);
    --popover-hover: var(--color-dove / 4%);
    --card: var(--color-dove / 8%);
    --card-hover: var(--color-dove / 6%);
    --card-focus: var(--color-dove / 14%);
    --card-border: var(--color-dove / 4%);
    --card-border-focus: var(--color-dove / 4%);
    --chip: var(--color-dove / 5%);
    --link: var(--color-gale);
    --link-hover: var(--color-cobalt);
    --primary: var(--color-ivory);
    --secondary: var(--color-silver);
    --incognito: var(--color-twilight);
    --input-incognito: var(--color-twilight / 4%);
    --input-glow-incognito: var(--color-twilight / 25%);
    --input-border-incognito: var(--color-twilight / 35%);
    --input-hover-incognito: var(--color-twilight / 7%);
    --input-border-focus-incognito: var(--color-twilight / 55%);
    --border-incognito: var(--color-twilight);
    --ring-incognito: var(--color-twilight);
    --ring: var(--color-fog);
    --card-foreground: 0 0% 98%;
    --popover-foreground: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5% 26%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
